.app {
  width: 100vw;
  height: 100vh;
}

.game-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  min-height: 500px;
  background: white;
  border-radius: 2%;
  padding: 20px 0;
  margin: 30px 0;
}

.section-title {
  text-align: center;
  padding: 15px 0;
  font-family: 'MonserratMedium';
}

.panel-text {
  font-family: 'MonserratMedium';
  text-align: center;
  padding: 5px 0;
}

.form-field-wrapper {
  display: flex;
  justify-content: center;
}

.form-field-wrapper .form-group {
  padding: 10px 10px;
}

.text-field {
  padding: 15px 50px 15px 10px;
  border: solid 2px #39e8b0;
  font-size: 14px;
}

label {
  font-family: 'MonserratRegular';
}

.game-button {
  padding: 10px 40px;
  font-size: 18px;
  background-color: #39e8b0;
  color: white;
  font-family: 'MonserratMedium';
  cursor: pointer;
  transition: all ease-in 0.2s;
  border: none;
}
.game-button:hover {
  padding: 15px 45px;
  background-color: #32cb9a;
}

.game-button:disabled {
  opacity: 0.5;
  background-color: #39e8b0;
  padding: 10px 40px;
  cursor: not-allowed;
}
