*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(237, 237, 237);
}

@font-face {
  font-family: 'MonserratBold';
  src: local('Monserrat'),
    url(./fonts/Montserrat-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'MonserratMedium';
  src: local('Monserrat'),
    url(./fonts/Montserrat-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'MonserratRegular';
  src: local('Monserrat'),
    url(./fonts/Montserrat-Regular.ttf) format('truetype');
}
