.game-score-wrapper {
  width: 200px;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 2%;
  margin: 12px;
  border: solid 2px #39e8b0;
  padding: 12px;
}

table.score-table {
  font-family: 'MonserratMedium';
  width: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.score-table td,
table.score-table th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
}
table.score-table tbody td {
  font-size: 13px;
}
table.score-table thead {
  border-bottom: 1px solid #333333;
}
table.score-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #39e8b0;
  text-align: center;
  border-left: 1px solid #333333;
}
